<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){
    jQuery('.use_this').click(function(x){
      jQuery('#type').val(jQuery(x.target).data('type'));
      $('#pick_a_step_type').hide();
      $('#fields').show();
    });

    jQuery('#change_step_type').click(function(){
      $('#pick_a_step_type').show();
      $('#fields').hide();
    });

    jQuery('#create').click(function() {
      var data = {
      };

      jQuery('[data-map]').each(function(_, x) {
        data[jQuery(x).data('map')] = jQuery(x).val();
      });

      jQuery.post('/overt/workflows/create-step/<%=h @workflow.id %>', data, function(){
        window.location = '/overt/workflows/view-step/' + data.workflow_id + '/' + data.id;
      });
      console.log(data);
    });

    jQuery('input[name=name').keyup(function(x){
      jQuery('input[name=id]').val(jQuery('input[name=name]').val().toLowerCase().replace(/[\W_]+/g, "-"));
    });

  });
</script>

<span><a href="/overt">Home</a></span>
<span>/</span>
<span><a href="/overt/workflows">Workflows</a></span>
<span>/</span>
<span><a href="/overt/workflows/view/<%=h @workflow.id %>"><%=h @workflow.name %></a></span>
<span>/</span>
<span>Build a New Step</span>

<div id="pick_a_step_type">
  <fieldset>
    <legend>Step</legend>
    <% @step_types.each do |step_type| %>
      <details>
        <summary><%=h step_type[:name] %></summary>
        <p>
          <%=h step_type[:name] %>
        </p>
        <button data-type="<%= step_type[:id] %>" class="use_this">Use This</button>
      </details>
    <% end %>
  </fieldset>
</div>

<div id="fields" style="display:none">
  <fieldset>
    <legend>Fields</legend>
      <label for="id">Id</label>
      <input type="text" name="id" value="<%=h SecureRandom.uuid %>" data-map="id" required readonly>

      <label for="name">Name</label>
      <input type="text" name="name" value="" data-map="name" required>

      <label for="type">Type</label> <a href="#" id="change_step_type">[Change]</a>
      <input readonly type="text" name="type" value="" data-map="type" id="type">

      <label for="message">Message</label>
      <input type="text" name="message" value="" data-map="message" id="message">

      <label for="merge">Merge</label>
      <input type="text" name="merge" value="*" data-map="merge" id="merge">

      <input type="hidden" value="<%=h @parent_step_id %>" data-map="parent_step_id">
      <input type="hidden" value="<%=h @workflow.id %>" data-map="workflow_id">
      <input type="hidden" value="<%=h @event_id %>" data-map="event_id">
      <button id="create">Create This Step</button>
  </fieldset>
</div>