<script type="text/javascript">
  jQuery.ajax({
    url: "/overt/workflow/step-json/<%=h @workflow.id %>/<%=h @step[:id] %>"
  }).done(function(data) {
    console.log(data);
            var config = JsonEditor.create({
                                             id: 'config',
                                             data: data.step.config
                                           });

            var test_event = JsonEditor.create({
                               id: 'test_event',
                               data: data.step.test_event ? data.step.test_event : {}
                             });

            jQuery('#run').click(function() {
                                  var event = test_event.get();
                                  var step = {
                                    id: jQuery('[name=id]').val(),
                                    name: jQuery('[name=name]').val(),
                                    type: jQuery('[name=type]').val(),
                                    config: config.get()
                                  };
                                  var data = {
                                               incoming_event: JSON.stringify(event),
                                               step: JSON.stringify(step),
                                               limit: 5
                                             };
                                  jQuery.ajax({ url: '/starter/run_step', data: data, method: 'POST'})
                                        .done(function(x) {

                                                $('#output_events').html('');
                                                jQuery(x.events).each(function(i, x){
                                                  $('#output_events').append(jQuery('<tr>')
                                                    .append(jQuery('<td>').text(x.message))
                                                    .append(jQuery('<td>').html('<button type="button" data-id="' + x.id + '" class="run">View</button>'))
                                                    .append(jQuery('<td>').html('<button type="button" data-id="' + x.id + '" class="run">Jump To</button>'))
                                                  );
                                                });

                                              });
                                });
          });
</script>

<h1><%=h @step[:name] %></h1>
<fieldset>
    <legend>Details</legend>

    <label for="id">Id</label>
    <input readonly type="text" name="id" value="<%=h @step[:id] %>">

    <label for="name">Name</label>
    <input readonly type="text" name="name" value="<%=h @step[:name] %>">

    <label for="type">Type</label>
    <input readonly type="text" name="type" value="<%=h @step[:type] %>">

    <label for="parent_step_ids">Parent Steps</label>
    <select name="parent_step_ids" id="parent_step_ids" multiple="">
      <% @workflow.steps.select { |x| x[:id] != @step[:id] }.each do |s| %>
          <option value="<%=h s[:id] %>"<%= @step[:parent_step_ids].include?(s[:id]) ? ' selected' : '' %>><%= s[:name] %></option>
      <% end %>
    </select>
</fieldset>

<fieldset>
    <legend>Config</legend>

    <div id="config"></div>
</fieldset>

<fieldset>
    <legend>Testing</legend>

    <div id="test_event" style="height:400px"></div>

    <button type="button" id="run">Run</button>

    <table>
      <thead>
        <tr>
          <td>Event</td>
        </tr>
      </thead>
      <tbody id="output_events">
      </tbody>
    <table>
</fieldset>