<h1><%=h @step[:name] %></h1>
<fieldset>
    <legend>Details</legend>

    <label for="id">Id</label>
    <input readonly type="text" name="id" value="<%=h @step[:id] %>">

    <label for="name">Name</label>
    <input type="text" name="name" value="<%=h @step[:name] %>">

    <label for="parent_step_ids">Parent Steps</label>
    <select name="parent_step_ids" id="parent_step_ids" multiple="">
      <% @workflow.steps.select { |x| x[:id] != @step[:id] }.each do |s| %>
          <option value="<%=h s[:id] %>"<%= @step[:parent_step_ids].include?(s[:id]) ? ' selected' : '' %>><%= s[:name] %></option>
      <% end %>
    </select>
</fieldset>

<fieldset>
    <legend>Config</legend>

    <div id="config"></div>
</fieldset>