<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    jQuery.ajax({
      url: "/overt/workflows/step-json/<%=h @workflow.id %>/<%=h @step[:id] %>?event_id=<%=h @event_id %>"
    }).done(function(data) {
      console.log(data);
              var workflow = data.workflow;
              var step_id = data.step.id;
              var config = JsonEditor.create({
                                              id: 'config',
                                              data: data.step.config
                                            });

              var test_event = JsonEditor.create({
                                id: 'test_event',
                                data: data.event.data ? data.event.data : (data.step.test_event ? data.step.test_event : {})
                              });
              jQuery('#delete').click(function(){
                                          $('#delete').hide();
                                          $('#delete_confirmation').show();
                                      });
              jQuery('#delete_no').click(function(){
                                            $('#delete').show();
                                            $('#delete_confirmation').hide();
                                         });
              jQuery('#delete_yes').click(function(){
                                            jQuery.ajax({ url: '/overt/workflows/delete-step/' + workflow.id, data: {step_id: step_id}, method: 'POST'})
                                                  .done(function(x) {
                                                            window.location = '/overt/workflows/view/' + workflow.id;
                                                        });
                                          });

              jQuery('#save').click(function() {
                                    var event = test_event.get();
                                    var step = {
                                      id: jQuery('[name=id]').val(),
                                      name: jQuery('[name=name]').val(),
                                      type: jQuery('[name=type]').val(),
                                      queue: jQuery('[name=queue]').val(),
                                      message: jQuery('[name=message]').val(),
                                      parent_step_ids: jQuery('[name=parent_step_ids]').val(),
                                      merge: jQuery('[name=merge]').val(),
                                      config: config.get()
                                    };
                                    var data = {
                                                incoming_event: JSON.stringify(event),
                                                step: JSON.stringify(step)
                                              };
                                    jQuery.ajax({ url: '/overt/workflows/save-step/' + workflow.id, data: data, method: 'POST'})
                                          .done(function(x) {
                                                });
                                  });

              jQuery('#save_test_event').click(function() {
                                    var event = test_event.get();
                                    var step = {
                                      id: jQuery('[name=id]').val(),
                                      name: jQuery('[name=name]').val(),
                                      type: jQuery('[name=type]').val(),
                                      queue: jQuery('[name=queue]').val(),
                                      message: jQuery('[name=message]').val(),
                                      parent_step_ids: jQuery('[name=parent_step_ids]').val(),
                                      merge: jQuery('[name=merge]').val(),
                                      config: config.get()
                                    };
                                    var data = {
                                                test_event: JSON.stringify(event),
                                                step_id: step_id
                                              };
                                    jQuery.ajax({ url: '/overt/workflows/save-test-event/' + workflow.id, data: data, method: 'POST'})
                                          .done(function(x) {});
              });

              jQuery('#run').click(function() {
                                    var event = test_event.get();
                                    var step = {
                                      id: jQuery('[name=id]').val(),
                                      name: jQuery('[name=name]').val(),
                                      type: jQuery('[name=type]').val(),
                                      queue: jQuery('[name=queue]').val(),
                                      message: jQuery('[name=message]').val(),
                                      parent_step_ids: jQuery('[name=parent_step_ids]').val(),
                                      merge: jQuery('[name=merge]').val(),
                                      config: config.get()
                                    };
                                    var data = {
                                                incoming_event: JSON.stringify(event),
                                                step: JSON.stringify(step),
                                                limit: 5
                                              };
                                    jQuery.ajax({ url: '/overt/run_step', data: data, method: 'POST'})
                                          .done(function(x) {

                                                  jQuery('.view-event').remove();
                                                  jQuery('#output_events').html('');

                                                  jQuery(x.events).each(function(i, x){

                                                    var viewButton = '<button type="button" data-id="' + x.id + '" class="runButton">View</button>';

                                                    jQuery('#output_events').append(jQuery('<tr>')
                                                      .append(jQuery('<td>').text(x.message))
                                                      .append(jQuery('<td>').html(viewButton))
                                                    );

                                                    var div = jQuery('<div><div class="modal view-event data-modal-' + x.id + '" data-id="' + x.id + '"><pre id="json-' + x.id + '"></pre><select name="jumpSelect" style="float:left" id="next-' + x.id + '"></select><button type="button" id="jump-' + x.id + '">Jump To</button><button type="button" id="close-' + x.id + '">Close</button></div>');

                                                    jQuery('body').append(div.html());

                                                    jQuery('#json-' + x.id).html(prettyPrintJson.toHtml(x.data));
                                                    jQuery('#close-' + x.id).click(function(){ jQuery('.close-modal').click()});

                                                    jQuery('#jump-' + x.id).click(function() {
                                                                                    var step_id = jQuery('#next-' + x.id).val();
                                                                                    url = (step_id != '')
                                                                                            ? '/overt/workflows/view-step/' + workflow.id + '/' + step_id + '?'
                                                                                            : '/overt/workflows/build-step/' + workflow.id + '?parent_step_id=' + step.id + '&';
                                                                                    url = url + 'event_id=' + x.id;
                                                                                    window.location = url;
                                                      });
                                                  });

                                                  jQuery('.runButton').click(function(_){

                                                    var options = {'': 'New Step'};
                                                    jQuery(workflow.steps).each(function(_, x) {
                                                      if (x.parent_step_ids.includes(step_id))
                                                        options[x.id] = x.name;
                                                    });

                                                    jQuery('select[name=jumpSelect] option').remove();
                                                    for (var prop in options)
                                                      jQuery('select[name=jumpSelect]').append(jQuery('<option>').val(prop).text(options[prop]));

                                                    jQuery('select[name=jumpSelect]').each(function(_, x){
                                                      jQuery(x).val(jQuery('#' + jQuery(x).attr('id') + ' option:last').val());
                                                    });

                                                    jQuery('.data-modal-' + jQuery(this).data('id')).modal();
                                                  });

                                                });
                                  });
            });
});
</script>

<span><a href="/overt">Home</a></span>
<span>/</span>
<span><a href="/overt/workflows">Workflows</a></span>
<span>/</span>
<span><a href="/overt/workflows/view/<%=h @workflow.id %>"><%=h @workflow.name %></a></span>
<span>/</span>
<span><%=h @step[:name] %></span>

<fieldset>
    <legend>Details</legend>

    <label for="id">Id</label>
    <input readonly type="text" name="id" value="<%=h @step[:id] %>">

    <label for="name">Name</label>
    <input readonly type="text" name="name" value="<%=h @step[:name] %>">

    <label for="type">Type</label>
    <input readonly type="text" name="type" value="<%=h @step[:type] %>">

    <label for="message">Message</label>
    <input type="text" name="message" value="<%=h @step[:message] %>">

    <label for="merge">Merge</label>
    <input type="text" name="merge" value="<%=h @step[:merge] %>">

    <label for="queue">Queue</label>
    <select name="queue" id="queue">
      <% ['default', 'web_request', 'single', 'crud'].each do |s| %>
          <option id="<%=h s %>" data-id="<%=h s %>" data-name="<%=h s %>" value="<%=h s %>"<%= (@step[:queue] || []).include?(s) ? ' selected' : '' %>><%= s %></option>
      <% end %>
    </select>

    <label for="parent_step_ids">Parent Steps</label>
    <select name="parent_step_ids" id="parent_step_ids" multiple="">
      <% @workflow.steps.select { |x| x[:id] != @step[:id] }.each do |s| %>
          <option class="step" id="option-<%=h s[:id] %>" data-id="<%=h s[:id] %>" data-name="<%=h s[:name] %>" value="<%=h s[:id] %>"<%= (@step[:parent_step_ids] || []).include?(s[:id]) ? ' selected' : '' %>><%= s[:name] %></option>
      <% end %>
    </select>
</fieldset>

<fieldset>
    <legend>Config</legend>

    <div id="config"></div>
</fieldset>

<fieldset>
  <legend>Actions</legend>
  <button type="button" id="save">Save</button>
  <button type="button" id="delete">Delete This Step</button>

  <fieldset id="delete_confirmation" style="display:none">
    <legend>Are You Sure?</legend>
    <button type="button" id="delete_yes">Yes</button>
    <button type="button" id="delete_no">No</button>
  </fieldset>

</fieldset>

<fieldset>
    <legend>Testing</legend>

    <div id="test_event" style="height:400px"></div>

    <button type="button" id="run">Run</button>
    <button type="button" id="save_test_event">Save Test Event</button>

    <table>
      <thead>
        <tr>
          <td>Event</td>
        </tr>
      </thead>
      <tbody id="output_events">
      </tbody>
    <table>
</fieldset>