<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    jQuery.ajax({
      url: "/overt/manual-starts/json/<%=h @workflow_id %>/<%=h @step_id %>"
    }).done(function(data) {
      var data = data.step.config.default_event ? data.step.config.default_event : {};
      var eventEditor = JsonEditor.create( { id: 'manual_start', data: data } );

      $('#fire').click(function(){
        console.log(eventEditor.get());
        var success = function(x){
          $('#view').click(function() {
            window.location = '/overt/runs/' + x.run_id;
          }).show();
        };
        jQuery.post('/manual_starts/fire/<%= @workflow_id %>/<%= @step_id %>', { event_data: eventEditor.get() }, success);
      });
    });
});
</script>

<h1>View <%=h @step[:name] %></h1>

<div id="manual_start"></div>

<button type="button" id="fire">Start the Workflow</button>
<button type="button" id="view" style="display:none">View the Run</button>